header {
   background-image: url('../../assets/img/main-bg.jpg');
   background-size: cover;
   padding: 14% 0 0;
}

.header-wrap {
   width: 32%;
}

.title,
.top-datasets h2 {
   color: #4F4F4F;
   font-weight: 400;
   margin-bottom: 30px;
}

.description {
   font-size: 18px;
   color: #7F7F87;
}

.register-now {
   display: inline-block;
   border-radius: 24px;
   text-align: center;
   margin-top: 20px;
   padding: 10px;
   -webkit-box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
           box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
}

.register-now a {
   font-size: 15px;
   text-transform: uppercase;
   letter-spacing: 3px;
   color: #000;
   font-weight: 300;
   padding: 0 10px;
}

.register-now i {
   color: #20BEFF;
   margin-left: 7px;
}

.register-now:hover {
   background: #F1F1F1;
   -webkit-box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2), 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12);
           box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2), 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12);
}

.header-img {
   width: 65%;
   -webkit-box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 3px 0px, rgba(60, 64, 67, 0.15) 0px 4px 8px 3px;
           box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 3px 0px, rgba(60, 64, 67, 0.15) 0px 4px 8px 3px;
}

.top-datasets h2 {
   margin-bottom: 70px;
}

.header-img img {
   width: 100%;
}

.top-datasets {
   margin: 100px 0 0;
}

.top-competitions {
   margin: 0 0 100px;
}

.dataset-box__item {
   background: #fff;
   width: 24%;
   border-radius: 15px;
   overflow: hidden;
   margin-bottom: 40px;
}

.dataset-box__img {
   height: 110px;
}

.dataset-box__img img {
   min-width: 100%;
   height: 100%;
}

.dataset-box__text {
   font-weight: 600;
   padding: 15px;
   font-size: 14px;
}

.dataset-box__desc {
   margin-bottom: 10px;
}

.dataset-box__author {
   margin-top: -5px;
   color: #7F7F97;
}

.dataset-box__type {
   font-weight: 300;
}

.competitions-box__link {
   display: block;
}

.competitions-box__item {
   width: 21%;
   color: inherit;
   padding-right: 28px;
   border-right: 1px solid #DEDFE0;
}

.competitions-box__item:last-child {
   border-right: none;
   padding-right: 0;
}

.competitions-box__title {
   font-weight: 600;
   margin-bottom: 10px;
}

.competitions-box__desc {
   color: rgba(0, 0, 0, 0.7);
   font-size: 14px;
}

.competitions-box__members__img {
   width: 30px;
   height: 30px;
   border-radius: 50%;
   overflow: hidden;
   display: inline-block;
   border: 5px solid #fff;
   margin-left: -10px;
}

.competitions-box__members__more,
.competitions-box__members__box {
   vertical-align: middle;
   display: inline-block;
}

.competitions-box__members__more {
   font-size: 11px;
   padding: 3px;
   background: #20BEFF;
   border-radius: 50%;
   margin-bottom: 5px;
   color: #fff;
   margin-left: -8px;
}